/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
.env
.env.backup
.env.production
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
_ide_helper.php
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/npm-debug.log
/yarn-error.log
